* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Fraunces", "Times New Roman", serif;
    font-weight: 900;
    border-color: #f2f2f2;
    overflow-x: hidden;
}

.site-main {
    flex-grow: 1;
}