:root {
    --main-text-color: #24303e;
    --main-font-size: 18px;
    --main-line-height: 25px;
    --main-bg-color: #90d4c6;
    --main-font-family: "Barlow", "Arial", sans-serif;
    --main-font-weight: 600;
}

