
.header__wrapper {
    @include flexbox (row space-between center);
    padding-top: 32px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #00bfff;
}

.nav {
    display: none;
}

.header__menu {
    width: 24px;
    height: 18px;
    border: none;
    background-color: transparent;
    background-image: url("/images/hamburger.svg");
}

@media only screen and (min-width: 600px) {
    .header__wrapper {
        padding-bottom: 90px;
    }

    .header__menu {
        display: none;
    }

    .nav {
        display: block;
    }

    .nav__list {
        display: flex;
        @include list-reset;
    }

    .nav__items:not(:last-child) {
        margin-right: 30px;
    }

    .nav__link {
        display: inline-block;
        font-family: var(--main-font-family);
        text-decoration-line: none;
        font-size: var(--main-font-size);
        line-height: var(--main-line-height);
        font-weight: var(--main-font-weight);
        letter-spacing: -0.128571px;
        color: #fff;
        transition: color 0.4s ease;
    }

    .nav__link:hover {
        mix-blend-mode: normal;
        opacity: 0.25;
        border-radius: 28px;
    }

    .nav__link:active {
        padding: 16px 30px;
        background-color: #fff;
        color: $mainTextColor;
        font-size: 15px;
    }
}

@media only screen and (min-width: 992px) {
    .header__wrapper {
        padding-bottom: 116px;
    }   
}









