$mainTextColor: #24303e;
$fontsize: 600;
$mainLineHeight: 25px;
$mainBgColor: #90d4c6;
$mainFontFamily: "Barlow", "Arial", sans-serif;
$mainFontWeight: 600;

.hero {
    background-image: url("/images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__wrapper {
    padding-bottom: 296px;
}

.hero__textbox {
    max-width: 327px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.hero__title {
    margin: 0;
    font-size: 40x;
    line-height: 49px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #fff;
}

.hero__title::after {
    position: relative;
    top: 180px;
    display: block;
    content: "";
    width: 30px;
    height: 108px;
    margin: 0 auto;
    background-image: url("/images/path.svg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: topToBottom 1s linear infinite alternate;
}

@keyframes topToBottom {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(60px);
    }
    
}